@{
    ViewBag.Title = "About Jenna Weaver";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am currently a student at Ohio University finishing my last semester! I am pursuing a bachelors in both management information systems
    and business analytics. On my website you can learn more about me.
</p>
